<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Icon -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>


    <!-- jQuery -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


    <title>Hello, world!</title>

    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%">
    <div class="container-fluid" style="display: flex; flex-direction: row; flex-wrap: nowrap">
        <a class="navbar-brand" href="#"><img style="width: 150px"
                                              src="https://www.pngitem.com/pimgs/m/32-323881_logo-new-vector-eps-instagram-word-logo-png.png"></a>

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <div style="display: flex; flex-direction: row">
            <span class="material-symbols-outlined">home</span>
            <span class="material-symbols-outlined">send</span>
            <span id="nav_bar_add_box" class="material-symbols-outlined">add_box</span>
            <span class="material-symbols-outlined">explore</span>
            <span class="material-symbols-outlined">favorite</span>
        </div>
    </div>

</nav>


<div style="display: flex; flex-direction: row; text-align: center; justify-content: center; padding-top: 75px">
    <div style="width: 500px; min-width: 500px; height: 1000px; margin-right: 300px">
        {% for feed in feed_list %}
            <div style="border: solid 1px grey; background: white; margin-bottom: 30px">
                <div style="display: flex; flex-direction: row; align-items: center; margin:0 20px">
                    <div class="box" style="background: #BDBDBD; width: 55px; height: 55px">
                        <img class="profile"
                             src="{{ feed.profile_image }}">
                    </div>
                    <div style="margin-left: 10px; font-weight: bold">
                        {{ feed.user_id }}
                    </div>
                </div>

                <div>
                    <img style="width: 100%"
                         src="{{ feed.image }} ">
                </div>
                <div style="margin:0 20px; display: flex; flex-direction: row; justify-content: space-between">
                    <div>
                        <span class="material-symbols-outlined">favorite</span>
                        <span class="material-symbols-outlined">mode_comment</span>
                        <span class="material-symbols-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">bookmark</span>
                    </div>
                </div>
                <div style="margin:0 20px; text-align: left; font-size: 14px">
                    춘식이 <b>외 {{ feed.like_count }}명</b>이 좋아합니다.
                </div>
                <div style="margin:0 20px; text-align: left; font-size: 16px">
                    <b>{{ feed.user_id }}</b>{{ feed.content }}</div>
                <div style="margin:0 20px; text-align: left; font-size: 14px">
                    <b>aaa</b> 나도 제주도!!!
                </div>
                <div style="margin:0 20px; text-align: left; font-size: 14px">
                    <b>bbb</b>나는 ?????
                </div>
                <div>
                    <input type="text" class="form-control" style="box-shadow: none" placeholder="댓글을 입력하세요">
                </div>
            </div>
        {% endfor %}


    </div>
    <div style="width: 400px; height: 1000px; position: fixed; left: 62%">
        <div style="display: flex; flex-direction: row; align-items: center; margin:0 10px">
            <div class="box" style="background: #BDBDBD; width: 70px; height: 70px">
                <img class="profile"
                     src="https://blog.kakaocdn.net/dn/d648yD/btqIM8aqtgq/fp6wNdMO4ESRAULFj8anlK/img.png">
            </div>
            <div style="margin-left: 10px; text-align: left">
                <div style="font-weight: bold">jinhnng</div>
                <div style="color: grey">park jinhong</div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin:10px">
            <span style="color: gray; font-weight: bold">회원님을 위한 추천</span>
            <a href="#" style="font-weight:bold; color: black; text-decoration: none">모두보기</a>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin:0 10px">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="background: #BDBDBD; width: 55px; height: 55px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/d648yD/btqIM8aqtgq/fp6wNdMO4ESRAULFj8anlK/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">jinhnng</div>
                    <div style="color: grey;font-size: 14px">나랑 같이 치킨 먹음</div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size:14px; font-weight:bold; color: dodgerblue; text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin:0 10px">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="background: #BDBDBD; width: 55px; height: 55px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/d648yD/btqIM8aqtgq/fp6wNdMO4ESRAULFj8anlK/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">jinhnng</div>
                    <div style="color: grey;font-size: 14px">나랑 같이 치킨 먹음</div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size:14px; font-weight:bold; color: dodgerblue; text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin:0 10px">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="background: #BDBDBD; width: 55px; height: 55px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/d648yD/btqIM8aqtgq/fp6wNdMO4ESRAULFj8anlK/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">jinhnng</div>
                    <div style="color: grey;font-size: 14px">나랑 같이 치킨 먹음</div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size:14px; font-weight:bold; color: dodgerblue; text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin:0 10px">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="background: #BDBDBD; width: 55px; height: 55px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/d648yD/btqIM8aqtgq/fp6wNdMO4ESRAULFj8anlK/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">jinhnng</div>
                    <div style="color: grey;font-size: 14px">나랑 같이 치킨 먹음</div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size:14px; font-weight:bold; color: dodgerblue; text-decoration: none">팔로우</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin:0 10px">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="background: #BDBDBD; width: 55px; height: 55px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/d648yD/btqIM8aqtgq/fp6wNdMO4ESRAULFj8anlK/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">jinhnng</div>
                    <div style="color: grey;font-size: 14px">나랑 같이 치킨 먹음</div>
                </div>
            </div>
            <div>
                <a href="#" style="font-size:14px; font-weight:bold; color: dodgerblue; text-decoration: none">팔로우</a>
            </div>
        </div>

        <div style="margin-top: 50px; font-size: 12px; color: gray;text-align: left">소개 도움말 홍보센터 API</br>
            개인정보처리방침 약관 위치 인기계정 해시태그 언어
        </div>
        <div style="margin-top: 20px; font-size: 12px; color: gray;text-align: left">2022 INSTAGRAM FROM FACEBOOK</div>
    </div>
</div>

<!-- 첫번째 모달 -->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px">

            </div>

            <div>
                새이미지 업로드
            </div>

            <div>
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div class="img_upload_space" style="border-top: solid 1px gray;  width: 778px; height: 540px; margin-top: 10px"></div>

    </div>
</div>

<!-- 두번쨰 모달 -->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="border-bottom: solid 1px gray; display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px">

            </div>

            <div>
                새이미지 업로드
            </div>

            <div>
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </div>
        <div style= "display: flex; flex-direction: row;">
            <div class="img_upload_space" style="margin-right: 10px; width: 500px; height: 540px; margin-top: 10px">

            </div>
            <div style="border-left: solid 1px gray">

                <div>
                    <textarea id = "input_feed_content" class="form-control" style="width:276px; height: 400px"id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button id ="feed_create_button" type="button" class="btn btn-primary" style="width:100%">
                    공유하기
                </button>
            </div>
        </div>


    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->
<script>

    let files;


    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            display: 'flex'
        });
        $(document.body).css({
            overflow: 'hidden'
        });
    });

    $('#feed_create_button').click(function (){
        alert("공유하기 눌렀다");

        let file = files[0];
        let image = files[0].name;
        let content=$('#input_feed_content').val();
        let user_id= "jinhnng";
        let profile_image= "https://www.pngitem.com/pimgs/m/32-323881_logo-new-vector-eps-instagram-word-logo-png.png";

        let fd = new FormData();
        fd.append('file',file);
        fd.append('image',image);
        fd.append('content', content);
        fd.append('user_id',user_id);
        fd.append('profile_image', profile_image);

        $.ajax({
            url:"/content/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function(data){
                console.log("성공");
            },
            error: function (request, status, error){
                console.log("에러");
            },
            complete: function (){
                console.log("완료");
            }
        })
    });

    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();
        console.log(e);
        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();
        dragOver(e); //1

        e.dataTransfer = e.originalEvent.dataTransfer; //2
        files = e.target.files || e.dataTransfer.files;
        console.log("파일" + files[0].name)
        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }

        if (files[0].type.match(/image.*/)) {
            $('#first_modal').css({
                display:'none'
            });
            $('#second_modal').css({
                display:'flex'
            });

            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "95%",
                "background-repeat": "no-repeat",
                "background-position": "center"
            });
        } else {
            alert('이미지가 아닙니다.');
            return;
        }

    }

</script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>

</html>